:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #f1ece1;
  --second-brand-color: #c8b09b;
  --third-brand-color: #f3e3e3;

  --main-font:  'Poppins';
  --title-font:  'Poppins Bold';
  --main-title-font: 'Bodoni Moda';

  font-size: 62.5%;
}
